<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card bg-dark">
              <div class="card-body">
                <h2 class="card-title text-center text-light">About Us</h2>
                <p class="card-text text-light">
                    Welcome to Book Finder, the ultimate destination for bibliophiles and casual readers alike. 
                    Our application is designed to simplify your search for the perfect read, connecting you to 
                    a world of literature at your fingertips. From rare finds to trending titles, our intuitive 
                    platform offers personalized recommendations, insightful reviews, and seamless access to your 
                    next adventure. Join our community of passionate readers and discover the joy of 
                    finding just the right book for every moment. Dive into our curated collections, engage 
                    with fellow enthusiasts, and let Book Finder be your guide in the ever-expanding universe of books.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>