/* Kontejneri kryesor me height 100% */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Kontejneri i imazhit */
.book-image-container {
  max-width: 300px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-fluid {
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* Kontejneri i përshkrimit */
.book-description {
  padding: 20px;
  height: 400px;
  background-color: #ffffff2e;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-description h5 {
  color: #007bff;
}

.book-description .summary {
  font-size: 1.3rem;
  color: #555;
  line-height: 1.6;
  max-height: calc(1.6rem * 6); /* Lartësia maksimale për 6 rreshta */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Kufizo në 6 rreshta */
  -webkit-box-orient: vertical;
}

.book-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-details-list li {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #333;
}

.book-details-list span {
  font-weight: 600;
}


/* Responsive Styles */

/* Extra Small Devices (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .container .row {
    flex-direction: column;
    align-items: center;
  }

  .book-image-container {
    max-width: 200px;
    height: 250px;
  }

  .book-description {
    width: 80%;
    height: auto;
    margin-top: 20px;
    padding: 15px;
  }

  .book-description .summary {
    font-size: 12px;
    line-height: 1.4;
  }

  .col-lg-6{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .book-description .summary,
  .book-details-list li span,
  .book-title,
  .book-authors {
    font-size: 14px; /* Smaller font size for better fit on mobile */
    line-height: 1.4;
  }
}

/* Small Devices (min-width: 600px) */
@media only screen and (min-width: 600px) {
  .book-image-container {
    max-width: 250px;
    height: 300px;
  }

  .book-description {
    height: auto;
    padding: 20px;
  }
}

/* Medium Devices (min-width: 768px) */
@media only screen and (min-width: 768px) {
  .container .row {
    flex-direction: row;
    align-items: flex-start;
  }

  .book-image-container {
    max-width: 280px;
    height: 350px;
  }

  .book-description {
    height: 350px;
  }
}

/* Large Devices (min-width: 992px) */
@media only screen and (min-width: 992px) {
  .book-image-container {
    max-width: 300px;
    height: 400px;
  }

  .book-description {
    height: 400px;
  }
}

/* Extra Large Devices (min-width: 1200px) */
@media only screen and (min-width: 1200px) {
  .book-image-container {
    max-width: 350px;
    height: 450px;
  }

  .book-description {
    height: 450px;
  }
}
