<div *ngIf="bookDetails" class="container mt-3 h-100">
  <h2 class="text-center text-primary mb-5">{{ bookDetails.title }}</h2>
  <div class="row">
    <!-- Kontejneri për imazhin e librit -->
    <div class="col-lg-6">
      <div class="book-image-container">
        <img
          [src]="bookDetails.imageLinks ? bookDetails.imageLinks.thumbnail : '../../assets/images/no-image.png'"
          alt="Book Cover"
          class="img-fluid" />
      </div>
    </div>

    <!-- Kontejneri për përshkrimin e librit -->
    <div class="col-lg-6">
      <div class="book-description">
        <h5 class="fw-bold fs-4 mb-3">Description:</h5>
        <p class="summary fs-5" [innerHTML]="getLimitedDescription()"></p>
        <ul class="book-details-list mt-3">
          <li><span class="fw-bold fs-5">Publication Date:</span> {{ bookDetails.publishedDate || 'Publication date not available' }}</li>
          <li><span class="fw-bold fs-5">Publisher:</span> {{ bookDetails.publisher || 'Publisher information not available' }}</li>
          <li><span class="fw-bold fs-5">ISBN:</span> {{ bookDetails.industryIdentifiers?.[0]?.identifier || 'ISBN not available' }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
