<div class="container">
    <form class="search-container">
        <input type="text" 
        [(ngModel)]="searchText" 
        [ngModelOptions]="{standalone: true}" 
        class="search-input"
        placeholder="Search a book...">
        <button type="button" (click)="search()" class="search-button">Search</button>
    </form>

    <div class="search-results">
        <div class="book-card" *ngFor="let book of books">
            <div class="card-image" *ngIf="book.volumeInfo.imageLinks" [style.background-image]="'url(' + book.volumeInfo.imageLinks.thumbnail + ')'"></div>
            <div class="book-card-content">
                <p class="book-title">Title: {{ book.volumeInfo.title }}</p>
                <p class="book-authors">Authors: {{ book.volumeInfo.authors }}</p>
                <button (click)="showDetails(book)">Details</button>
            </div>
        </div>
    </div>
</div>
